@media screen {
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: url('../font/opensans-light-webfont.eot');
        src: url('../font/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-light-webfont.woff') format('woff'), url('../font/opensans-light-webfont.ttf') format('truetype'), url('../font/opensans-light-webfont.svg#open_sanslight') format('svg');
    }
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: url('../font/opensans-regular-webfont.eot');
        src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/opensans-regular-webfont.woff') format('woff'), url('../font/opensans-regular-webfont.ttf') format('truetype'), url('../font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    }
}
body,div,p,span,a,input, select, textarea,label,h1,h2,h3,h4,h5,h6,strong, button{
    font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body,div,p,span,a,input, select, textarea,label,strong, button {
    font-size: 12px;
}
body {
    color: #34495E;
    height: 100%;
    background: #fff;
}
/* Sticky footer styles
     -------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #008ba6;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* Sticky footer styles END
     -------------------------------------------------- */
h1{
    font-weight: 200;
    margin-top: 0;
}
h2{
    font-size: 22px;
    font-weight: 200;
}
a:focus, a:active{
    outline: none;
}

input[type="file"]  {
    display: none;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    box-shadow: none;
}
.btn {
  /*  background: none; */
}
.top-nav-container {
    height: 60px;
    background: #323232;
    padding-left: 0;
}
.top-nav-container a, .top-nav-container a:hover, .top-nav-container a:focus {
    text-decoration: none;
}
.top-nav-container a {
    color: #999999;
}
.top-nav-container a:hover, .top-nav-container a:focus {
    color: #FFFFFF;
}
.top-nav-container i {
    font-size: 1.42857em;
    line-height: 30px;
}
.logo {
    line-height: 60px;
    margin: 0 20px 0 0;
    padding: 0 20px;
    vertical-align: middle;
    min-width: 226px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.table tr:first-child td {
    border-top: none;
}
.context_menu .icon-reorder {
    border-left: 1px solid #3A4244;
    display: block;
    padding: 0 20px;
    line-height: 60px;
}
.store-switcher-menu i, .user-menu i {
    display: inline-block;
    width: 24px;
    text-align: center;
    font-size: 18px;
}
.store-switcher-menu li, .user-menu li {
    margin: 0 5px;
}
.user .dropdown-toggle {
    color: #34495E;
    display: block;
    font-weight: 700;
    line-height: 46px;
    padding: 0 20px;
    text-decoration: none;
    /*border-left: 1px solid #3A4244;*/
}
.user .dropdown-toggle:hover, .user .dropdown-toggle:focus {
    color: #647E9A;
}
.ribbon-cont {
    padding: 0 15px;
    background: #FFFFFF;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 0 1px;
}
.ribbon {
    padding-top: 13px;
    padding-bottom: 4px;
    padding-left: 0;
}

.context_menu .assetTypeSwitcher {
    color: #9F9F9F;
    padding: 4px 10px 4px 14px;
}
.assetTypeSwitcher .caret {
    margin-top: 8px;
}
.context_menu small {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #A9A9A9;
}

.context_menu .publisherTitle {
    font-weight: bold;
    /*
     font-variant: small-caps;
     text-transform: capitalize;*/

    margin: 0 6px 0 4px;
    color: #4F4F4F;
}
.asset-type-switcher i {
    font-size: 28px;
    line-height: 28px;
}
.asset-type-switcher .btn-large {
    position: relative;
    font-size: 24px;
    line-height: 28px;
    background: none;
    width: 100%;
    text-align: left;
    border-radius: 0 !important;
    box-shadow: none;
}
.asset-type-switcher {
    width: 100%;
}
.asset-type-switcher .btn-large .caret {
    position: absolute;
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 8px;
    top: 15px;
    right: 16px;
}

.btn-addNewAsset, .btn-goBack{
    background: none repeat scroll 0 0 #EAE8E8;
    color: #585858;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 6px 16px;
    text-shadow: none;
    margin-left: 10px;
}
.btn-addNewAsset:hover, .btn-addNewAsset:focus {
    background: none repeat scroll 0 0 #24AB5D;
    color: #fff;
    text-shadow: 0 2px 2px rgba(255, 252, 176, 0.6);
}
.btn-addNewAsset > i {
    display: inline-block;
    width: 20px;
    margin-right: 2px;
    text-align: left;
}
.btn-goBack:hover, .btn-goBack:focus {
    background: none repeat scroll 0 0 #D64B4B;
    color: #fff;
    text-shadow: 0 1px 1px rgba(195, 255, 179, 0.75);
}
.content-area {
    background:transparent;
    position: relative;
}
.asset_thumb {
    position: relative;
    font-size: 12px;
    border: 1px solid #C5C5C5;
    padding: 10px;
    min-width: 180px;
}
.asset_thumb img {
    position: relative;
    float: left;
    width: 40px;
}
.asset_topText {
    position: relative;
    float: left;
    left: 13px;
}
.asset_topText h3 {
    font-size: 13px;
    line-height: 14px;
    margin: 0;
}
.asset-details {
    clear: both;
    width: 100%;
    text-align: center;
}
.btn-edit-asset {
    margin: 10px 0 0;
    background: none;
    width: 60%;
}
.btn-edit-asset:hover, .btn-edit-asset:focus {
    background: none repeat scroll 0 0 rgba(0, 166, 255, 0.18);
}
.asset-thumb-row {
    margin-bottom: 14px;
    min-width: 780px;
}
.grid-options {
    margin: 10px 0;
    padding: 0 10px;
}
.btn-grid-option {
    font-size: 18px;
    background: none;
    border: 0;
    box-shadow: none;
    padding: 2px 4px;
    color: #989898;
    margin: 0 10px 0 0;
    position: relative;
    right: 10px;
}
.btn-grid-option:hover, .btn-grid-option:focus {
    background: none;
    color: #74B749;
    box-shadow: none;
}
.asset-thumb-container .row {
    margin-left: 0;
}
.tags-panel-right {
    min-height: 200px;
    padding: 4px 2px;
}
.tags-panel-right h3 {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 10px;
    color: #3D3D3D;
}
.tags-panel-right a {
    display: inline-block;
    padding: 4px 20px;
    background: none repeat scroll 0 0 rgba(53, 191, 143, 0.55);
    margin: 6px 4px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.tags-panel-right a:hover, .tags-panel-right a:focus {
    text-decoration: none;
    background: none repeat scroll 0 0 #2BBF46;
    text-shadow: 0 2px 2px rgba(255, 252, 176, 0.6);
}

.publisher-footer {
    position: relative;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    /*border-bottom: 2px solid #C2C2C2;*/
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    /*
     border-right: 1px solid rgba(0, 0, 0, 0.06);
     border-left: 1px solid rgba(0, 0, 0, 0.06);*/
}
.publisher-footer > .span12 {
    padding: 10px 6px;
}

#logo-wso2 {
    background: url("../img/wso2-logo-small.png") no-repeat scroll left top transparent;
    display: inline-block;
    height: 17px;
    width: 41px;
    margin-top: 6px;
}
#logo-wso2:hover {
    background-position: left -18px;
}


/*
.copyright-note a.logo-wso2:hover {
    background-position: left -18px;
}*/

.publisher-left-nav {
    width: 200px;
    float: left;
    top: 0;
    left: 0;
}
.thumbnail-div {
    margin: 10px;
    height: 105px;
    display: block;
    overflow: hidden;
}
.thumbnail-div img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
}
.asset-view-details {
    font-size: 14px;
}
.asset-view-details h3 {
    font-size: 22px;
    line-height: 18px;
}
.asset-view-info-line {
    display: block;
    line-height: 20px;
}
.nav-header {
    background: none repeat scroll 0 0 rgba(40, 179, 84, 0.78);
    color: #FFFFFF;
    font-size: 13px;
    text-shadow: none !important;
}


.highlighted{
    background-color: #DADADA;

}



.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {

    background: none;
    color: #167E00;
    text-shadow: none;
}
.nav-list > li > a {
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    outline: medium none;
    padding: 15px 20px;
    position: relative;
    border-bottom: 1px solid #DADADA;
    color: #828282;
    text-transform: capitalize;
    min-height: 70px;
}
.widget-table {
    font-size: 13px;
    border: 0 none;
    border-radius: 0 0 0 0 !important;
    display: block;
    overflow: hidden;
}

.content-div .form-horizontal {
    font-size: 14px;
}
label, input, button, select, textarea {
    font-size: 13px;
}
.even-width-button {
    font-size: 13px;
}

.context_menu > .dropdown-menu {
    margin: 0;
    border-radius: 0;
    left: auto;
    background: none repeat scroll 0 0 #fff;
    padding: 0;
    width: 99%;
    overflow: hidden;
}
.breadcrumb-separator {
    float: left;
    margin: 0 8px;
}
.breadcrumb-text {
    color: #4F4F4F;
}
.breadcrumb-text-assetName {
    max-width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.context_menu > .dropdown-menu a {
    color: #828282;
    font-size: 14.5px;
    border-bottom: 1px solid #DADADA;
    padding: 10px;
}
.context_menu > .dropdown-menu a > i {
    display: inline-block;
    width: 20px;
    margin-right: 4px;
}
.context_menu > .dropdown-menu a:hover, .context_menu > .dropdown-menu a:focus {
    background: none repeat scroll 0 0 #27AE60;
    color: #FFFFFF;
}
.assetTypeSwitcher > i {
    display: inline-block;
    width: 20px;
    margin-right: 4px;
    color: #4F4F4F;
}
.icon-gadget:before {
    content: "\F013";
}
.icon-site:before {
    content: "\F0AC";
}
.icon-ebook:before {
    content: "\F15C";
}
.publisher-left {
    background: #F7F9F9;
    border-right: 1px solid #DADADA;
}
.content-area-cont {
    background: transparent;
    border: none;
}
.content-area {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /*  background: none repeat scroll 0 0 #FFFFFF;*/
    /*border-color: #ccc;*/
    border-image: none;
    /*border-style: solid solid none;*/
    /*border-width: 1px;*/
    box-shadow: none;
}
.publisher-right {

    min-height: 500px !important;
    float: right !important;
    position: relative;
}

.dropdown-submenu > .publisher-left-submenu {
    background: none repeat scroll 0 0 #F9F9F9;
    border-radius: 0;
}
.publisher-left-submenu > li > a {
    line-height: 26px;
    color: #505151;
}
.nav-list > .prominent-link > a {
    background: none repeat scroll 0 0 #27AE60;
    color: #FFFFFF;
    padding: 15px 20px;
    font-weight: normal;
    /*border-right: 4px solid #167E00;*/
    border-bottom: 0 none;
    text-shadow: none;
}
.nav-list > .prominent-link > a:hover {
    background: none repeat scroll 0 0 #27AE60 !important;
    color: #FFFFFF;
    /* border-right: 4px solid #167E00;*/
}
.dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background: none repeat scroll 0 0 #ED6D49;
    color: #FFFFFF;
    line-height: 26px;
}
.nav-list > li > a:hover, .nav-list > li > a:focus {
    color: #828282;
    text-shadow: none;
    background: none repeat scroll 0 0 #e7e7e7;
    text-decoration: none;
    /* border-right: 1px solid #74B749;*/
}
.dropdown-submenu > a:hover, .dropdown-submenu > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background: none repeat scroll 0 0 #ED6D49;
    color: #FFFFFF;
    text-shadow: none;
}
.publisher-left-nav .nav-list .leftnav-divider {
    border-bottom: 1px solid #99C5A4;
    background: none;
}
.publisher-heading1 {
    font-size: 26px;
    color: #4F4F4F;
}
.btn-primary {
    background: none repeat scroll 0 0 #000;
    color: #FFFFFF;
    text-shadow: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background: none repeat scroll 0 0 #444;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(255, 252, 176, 0.76);
}
.dateFull {
    white-space: nowrap;
    margin-right: 16px;
}
.list-asset-table img {
    max-width: 30px;
    max-height: 30px;
    border-radius: 2px 2px 2px 2px;
    border: 1px dotted #DDDDDD;
}
.list-asset-table small {
    color: #888;
}
.list-asset-table tr {
    cursor: pointer;
}
.list-asset-table tr td:first-child {
    width: 32px;
}
td.asset-listing-name {
    font-weight: 700;
}
td.asset-listing-btn {
    text-align: center;
}
.list-asset-table tbody > tr:hover > td {
    background: none repeat scroll 0 0 #DFF0D8 !important;
}
.list-asset-table th {
    font-weight: normal;
    padding: 0;
}

.list-asset-table thead th {
    line-height: 0;
    overflow: hidden;
}
.list-asset-table thead th a {
    color: #9F9F9F;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2px;
    min-width: 88px;
    overflow: hidden;
    padding: 5px 2px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    line-height: 24px;
}
.list-asset-table thead th a:hover {
    text-decoration: none;
    background: #F9F9F9;
    color: #4F4F4F;
}
.infobox > .infobox-icon > [class*="icon-"]:before {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100% 100% 100% 100%;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    font-size: 16px;
    padding: 6px 0 7px;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
    width: 30px;
}
.lc-state-Created{
    color:#88DAFF
}
.lc-state-In-Review{
    color:#FFD300
}
.lc-state-Published{
    color:#4ECF00
}
.lc-state-Unpublished{
    color:#CCCCCC
}
.lc-state-Retired{
    color:#6F6F6F
}
.lc-state-Deprecated{
    color:#CCCCCC
}
.lc-state-Approved{
    color:#F98707
}
.lc-state-Rejected{
    color:#FB7E66
}
.block-green {
    background: none repeat scroll 0 0 #74B749;
}
.block-orange {
    background: none repeat scroll 0 0 #ED6D49;
}
.block-blue {
    background: none repeat scroll 0 0 #0DAED3;
}
.block-yellow {
    background: none repeat scroll 0 0 #FFB400;
}
.block-red {
    background: none repeat scroll 0 0 #F63131;
}
.infobox {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 6px;
    overflow: hidden;
    padding: 5px 10px;
    margin: 0 10px 0 0;
    text-overflow: ellipsis;
    vertical-align: top;
    width: 180px;
    position: relative;
    border-radius: 4px 4px 4px 4px;
    float: left;
}
.infobox-sub-text {
    font-size: 17.5px;
    font-weight: 700;
    position: absolute;
    right: 10px;
    text-transform: capitalize;
    top: 10px;
}
.infobox-bottom-text {
    font-size: 12.5px;
    font-variant: small-caps;
    font-weight: 700;
    margin-top: 4px;
}
.infobox-icon {
    margin-bottom: 4px;
    margin-left: 2px;
    margin-top: 2px;
}
.nav-tabs {
    border-bottom: 1px solid #009E92;
    margin-top:10px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background: #efefef;
}
.asset-header-icon {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
    border-radius: 4px;
}

.publisher-breadcrumb {
    background: none;
    margin: 0;
    border-radius: 0;
    color: #989898;
    font-size: 16px;
    font-weight: inherit;
    /*    letter-spacing: 1px;*/
    list-style: none outside none;
    height: 34px;
    line-height: 34px;
    /*
     font-variant:small-caps;
     text-transform:capitalize;*/

}

.publisher-breadcrumb .btn {
    line-height: 21px;
}
.publisher-breadcrumb a.btn {
    height: 21px;
}
.sidebar-nav i, .publisher-left-submenu > li > a > i {
    display: inline-block;
    width: 20px;
    font-size: 18px;
    margin-right: 4px !important;
}
.btn.edit-asset:hover, .btn.edit-asset:focus {
    background: none repeat scroll 0 0 #ED6D49;
    box-shadow: none;
    color: #FFFFFF;
    text-shadow: none;
}
.lifecycle-state {
    text-transform: uppercase;
    font-size: 0.9em;
    white-space: nowrap;
}
.lifecycle-state i {
    display: inline-block;
    width: 14px;
}
.content-div .form-horizontal {
    border-radius: 6px 6px 6px 6px;
    padding: 30px 10px 0;
}
.form-actions {
    background-color: #FFFFFF;
}
.form-horizontal .btn {
    font-size: 14.5px;
    margin-right: 4px;
    padding: 4px 16px;
}
.content-div > .row-fluid > .form-horizontal {
    margin: 20px 30px 30px 20px;
}
.icon_block {
    display: inline-block;
    width: 20px;
    font-size: 1.1em;
}
.emptyAssets-MsgDiv {
    text-align: center;
    font-size: 18px;
    padding: 55px 0;
}
.emptyAssets-MsgDiv .largeMsgIcon {
    font-size: 200px;
    color: #E2EFE5;
}
.emptyAssets span {
    text-transform: capitalize;
}
.btn-addNewAssetLarge {
    background: none repeat scroll 0 0 #F47415;
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 20px;
    padding: 10px 20px;
    text-shadow: none;
}
.btn-addNewAssetLarge:hover {
    background: none repeat scroll 0 0 #F47000;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgba(255, 252, 176, 0.6);
}
.btn-addNewAssetLarge i {
    margin-right: 10px;
}

.btn-deploySample {
    font-size: 18px;
    cursor: pointer;
}

.overide-default{
    font-size: 12px !important;
}

.dropdown-menu>.active>a{
    background-color: #444;
}
.asset-listing-name a {
    color: #4F4F4F;
    font-weight: 700;
    text-decoration: none;
}
/* dummy form beautification
 TODO:remove after edit asset feature implement
 */
#editAssetButton {
    background: none repeat scroll 0 0 #27AE60;
    color: #FFFFFF;
    text-shadow: none;
}

input.inp-ribbon[type="text"] {
    font-size: 16px;
}
input.inp-ribbon[type="text"]:focus {
    background: #FFFFFF;
}
.control-search {
    position: relative;
    margin-top:10px;
}
.control-search .inp-ribbon{
    width: 500px;
}
#search-button {
    color: #585858;
    font-size: 12px;
    opacity: 1;
    cursor: pointer;
}
#search-button:hover {
    color: #737373;
    text-decoration: none;
    text-shadow: 1px 2px 2px #BBBBBB;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 0;
}
.ribbon .btn {
    border-radius: 0;
}
span.title {
    color: #848484;
    font-size: 1.2em;
}
.banner-div {
    height: 299px;
    left: 0;
    overflow: hidden;
    position: relative;
    width: 600px;
    float: left;
}
.asset-details-box {
    bottom: 0;
    float: left;
    left: -10px;
    padding: 10px 20px 20px 10px;
    position: relative;
    top: 66px;
}
.asset-details-box > h4 {
    color: #848484;
    font-weight: inherit;
    list-style: none outside none;
    font-size: 2em;
    margin-bottom: 15px;
}
.asset-detail-top-row {
   /* border-bottom: 1px solid #ECF0F1;*/
}
.nav-list > li > a, .nav-list .nav-header {
    margin-left: 0;
    margin-right: 0;
}
.nav-list {
    padding-left: 0;
    padding-right: 0;
}
.asset-content-box {
    margin-top: 20px;
    padding: 0 0 0 10px;
}
.widget {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 20px;
    margin-top: 10px;
}
.widget .widget-head {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    color: #777777;
    font-size: 18px;
    padding: 12px 15px;
    font-weight: 700;
    text-transform: capitalize;
}
.widget.wlightblue .widget-head {
    background-color: #52B9E9;
    border: 1px solid #52B9E9;
    color: #FFFFFF;
}
.widget.wgreen .widget-head {
    background-color: #74B749;
    border: 1px solid #74B749;
    color: #FFFFFF;
}

.widget .widget-content {
    position: relative;
}
.widget .widget-content legend{
    border:none;
}
.widget-lifecycle .widget-content .alert {
    position: absolute;
    right: 11px;
    left: 13px;
    top: 10px;
    display: none;
}
.widget .padd {
    padding: 15px;
}
.widget-icons a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 2px;
}
.widget .table-bordered td:first-child, .widget .table-bordered th:first-child {
    border-left: 0 none;
}
.widget .table {
    margin-bottom: 0;
    table-layout: fixed;
}
.lifecycle legend {
    font-size: 14px;
    color: #4F4F4F;
    line-height: 20px;
}

.lifecycle #canvas > svg text {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; !important;
    font-size: 12.5px !important;
}
.lifecycle #canvas {
    height: 215px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    top: -0.550003px;
    width: 500px;
}
#state {
    /* background: none repeat scroll 0 0 #FFFFFF;*/
    color: #A36515;
    font-size: 12px;
    font-weight: bold;
    margin-left: 11px;
    padding: 0 4px;
    text-transform: uppercase;
    margin-top: 6px;
    background: none repeat scroll 0 0 #FFBE6B;
    border-radius: 4px 4px 4px 4px;
}
.container-header{
    background: #008ba6;
    height: 60px;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px #000;
}
#container-search.affix {
    left: 0;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: auto;
    z-index: 1002;
}
#container-search.affix > .row {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2);
}

.modal {
    border-radius: 0;
}
#modal-redirect .modal-loading {
    background: url("../img/preloader-40x40.gif") no-repeat scroll center top rgba(0, 0, 0, 0);
    display: block;
    height: 54px;
    width: 100%;
    opacity: .3;
}
#modal-redirect p {
    text-align: center;
    font-size: 16px;
}
#asset-new-version-msgs {
    display: block;
    clear: both;
}
#asset-new-version-control-group {
    line-height: 20px;
    height: 38px;
    vertical-align: middle;
    padding-left: 5px;
    padding-top: 6px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#asset-new-version {
    margin: 0;
    min-width: 81px;
}
#btn-increase-version-asset {
    padding: 3px;
}

.label-required {
    color: #b94a48;
}
.bootstrap-select{
    padding-left: 0;
}
.bootstrap-select button {
    border: 1px solid #CCCCCC;
    box-shadow: none;
}

.tbl-upload {
    display: table;
    width: 100%;
    border: 1px solid #ccc;
}
#form-asset-create .tbl-upload{
    border:none;
}
.tbl-upload-row {
    display: table-row;
}
.tbl-upload-cell {
    display: table-cell;
}
.tbl-upload-row .tbl-upload-cell:last-child {
    width: 88px;
    text-align: right;
}

td.tbl-upload-preview {
    position: relative;
    text-align: center;
}

td.tbl-upload-preview .lbl-url {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    bottom: 0;
    color: #333333;
    font-size: 10px;
    height: 20px;
    left: 0;
    line-height: normal;
    overflow: auto;
    padding: 7px;
    position: absolute;
    right: 0;
    text-align: left;
}
.info-div i {
    display: inline-block;
}

.info-div > span {
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
}

.tbl-upload-inner td:first-child input {
    width: 100%;
}
.tbl-upload-inner td:last-child {
    text-align: right;
}
.lifecycle #canvas svg {
    left: -63px !important;
}

#form-asset-create .icon-ok {
    color: #167E00;
}
#form-asset-create .icon-ban-circle {
    color: red;

}
#form-asset-create .icon-ok, #form-asset-create .icon-ban-circle {
    margin-left: -18px;
    margin-right: 4px;
    opacity: .8;
}
.icon-check-appname {
    display: none;
}

.chars-rem {
    color: #8B8B8B;
    font-size: 12px;
    height: 24px;
    margin-bottom: -20px;
    padding-right: 18px;
    text-align: right;
    margin-top: 3px;
}

circle:hover {
    cursor: pointer;
}
.circle-invalid {
    opacity: .5;
}
.view-tag {
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    padding: 3px 5px;
}

.table th, .table td{
    vertical-align: middle;
}
.asset-being-added{
    display: none;
}
.asset-being-added:after {
    background: none repeat scroll 0 0 #CCCCCC;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
}
.asset-being-added .row-fluid{
    height: 51px;
    line-height: 51px;
}
.asset-being-added .span2{
    text-align: right;
}
.asset-being-added .span10 .icon-ok-circle{
    color:#229A55;
}
.asset-being-added .span10 span{
    margin-left: 7px;
}
.asset-being-added .span2 .icon-refresh{
    margin-right: 28px;
    opacity:.5;
}
.lifecycle{
    position:relative;
}
.lifecycle-tip{
    position:absolute;
    bottom:0;
    right:20px;
    opacity: .5;
}
.tbl-upload-inner label{
    display:none;
}

.row-white {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
}
.container-footer > div{
    border-color:#ccc;
    border-width:0 1px 1px 1px;
}
.row-footer {
    color: #ffffff;
    font-size: 14px;
    line-height: 27px;
}
.row-footer [class*="span"]{
    padding-top:10px;
}
.row-footer ul {
    margin-right: 8px;
}
.row-footer li {
    display: inline-block;
    margin: 0 10px;
}
.row-footer li:last-child {
    float: right;
}
.row-footer li a {
    color: #ffffff;
}
.row-footer li a:hover {
    color: #229a55;
    text-decoration: none;
}
.row-footer .span6 >span{
    margin-left:20px;
}
.txt-right{
    text-align: right;
}
@media all and (min-width:768px){
    .publisher-left {
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
    }
}






























.btn-danger {
    background: none repeat scroll 0 0 #DA4F49;
    color: #FFFFFF;
    text-shadow: none;
}

.btn-orange {
    background: none repeat scroll 0 0 #FAA732;
    color: #FFFFFF;
    text-shadow: none;
}

.btn-blue {
    background: none repeat scroll 0 0 #49AFCD;
    color: #FFFFFF;
    text-shadow: none;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled] {
    color: #FFFFFF;
    background-color: #49AFCD;
    *background-color: #49AFCD;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    color: #FFFFFF;
    background-color: #DA4F49;
    *background-color: #DA4F49;
}

.text-green {
    color: #74B749;
}
.text-orange {
    color: #ED6D49;
}
.text-blue {
    color: #0DAED3;
}
.text-yellow {
    color: #FFB400;
}
.text-red {
    color: #F63131;
}
.form-group input[type="text"]{
    padding:5px 0 5px 5px;
}
fieldset{
    padding-top:10px;
    border-top:solid 1px #ccc;
}
fieldset legend{
    padding: 10px 0;
}
#resource_tbody ul.token-input-list-facebook{
    width: auto;
}
table.resource-table > thead > tr > th{
    vertical-align: top;
}
.form-actions{
    margin-top:10px;
}
h2.first-h2{
    margin-top:0;
}
.title-helper-txt{
    font-size: 11px;
    color:#888;
}
.powered-by-logo{
    display: block;
    width: 231px;
    height: 20px;
    background: transparent url(../img/poweredby.png) no-repeat left top;
}
.row-footer{
    padding-top: 10px;
}
.nav-pills > li > a{
    background: #efefef;
    color:#444;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background: #444;
    color: #efefef;
}

.secondary-pills{
    margin-top: -43px;
}
.secondary-pills > li > a{
    color: #428bca;
    padding-left: 50px;
}
.secondary-pills > li > a >i{
    position: absolute;
    margin-top: 3px;
    font-size: 18px;
    margin-left: -22px;}
.secondary-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background: #efefef;
    color: #444;
}
.container-assets{
    animation: 2s ease 0s normal none 1 fadein;
}
.item-meta {
    margin: 0 0 10px -5px;
}
.item-meta li {
    border-right: 1px solid #ccc;
    display: block;
    float: left;
    list-style: none outside none;
    padding-left: 5px;
    padding-right: 5px;
}
.item-meta li:last-child {
    border-right: medium none;
}
.item-meta .rating-filled {
    margin: 0;
}
.item-meta {
    margin: 0 0 10px -5px;
    padding: 0;
}
.space-right-20{
    padding-right: 20px;
}
.main-data-container div{
    margin-bottom: 10px;
}
.tab-content {
    background: none repeat scroll 0 0 #efefef;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: -2px;
    padding: 15px;
}
.tab-content div.row{
    margin-bottom: 10px;
    border-bottom: solid 1px #efefef;
}
.space-top-20{
    margin-top: 20px;
}

.center-wrapper{
    margin:0 auto;
	margin-left:auto;
	margin-right:auto;
	align:center;
	text-align:center;
    padding-top: 150px;
}



#rangeSliderWrapper{
    height: 47px;
    position: relative;
    margin-top:18px;
}
#rangeSliderWrapper #rangeSlider{
    position: relative;
    top: 40px;
    width:96%;
    left:10px;

}

#dateRangePickerContainer{
    float:right;
    margin-top:-16px;
}

.date-picker-wrapper > .footer {
    display: none;
}

input.apply-btn {
    height: 32px;
}

.left-nav {
    margin-top: 18px;
}

.no-data-heading{
    text-align: center;
    margin-top: 120px;
}

.date-range{
    height: 39px;

}

#date-range{
    min-width: 300px;
}

.date-picker-wrapper {
    margin: 4px 16px;
}

#pagination{
    float: right;
}

/*------------------------------------*\
	Dakshika Theme Styles
\*------------------------------------*/

.dakshika-theme ul{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    display: inline-block !important;
    padding-left: 0 !important;
    margin: 20px 0 !important;
    border-radius: 4px !important;
}

.dakshika-theme ul>li:first-child>a, .dakshika-theme ul>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dakshika-theme ul>li>a, .dakshika-theme ul>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;

}


.dakshika-theme ul>li:last-child>a, .dakshika-theme ul>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dakshika-theme ul>li>a:focus, .dakshika-theme ul>li>a:hover, .dakshika-theme ul>li>span:focus, .dakshika-theme ul>li>span:hover {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
    cursor: pointer;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
    margin-left: 0 !important;
}

.group-role-search {
    float: left;
    margin-left: 451px;
    font-size: 17px;
    margin-top: -26px;
}

a.policy-tool-tip {
    float: right;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}

#addDoc a.btn-info {
    background-color: #5bc0de;
}

div#newDoc {
    margin-top: 30px;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.radio label{
    margin-bottom: 15px;
}

.btn-rm-over{
    background-color: #DDDDDD;
}
label.control-label {
    margin-top: 10px;
    margin-bottom: 10px;
}
td#buttonTd a {
    margin-right: 10px;
    margin-left: 10px;
    padding: 2px;
}


.form-horizontal .control-label{
    padding-top: 0px;
    text-align: left;
}

#dateRangePickerContainer .date-range, #dateRangePickerContainer .input-append {
    background: none !important;
}

.pull-left.heading {
    margin-top: 13px;
    margin-left: 15px;
}

.map-heading{
    margin-top: 41px;
}

.highlighted::after {
    content: "";
    position: absolute;
    top: 22px;
    right: -14px;
    bottom: auto;
    left: auto;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent #DADADA;
    display: block;
    width: 0;
}

.menu-item {
    min-height: 70px;
}

.inner-level{
    margin-left: 30px;
}

.skip_gateway_checkbox, .anonymous_checkbox, .publish_statistics, .controll_visibility, .controll_overview_logoutUrl{
    margin-top: 13px !important;
}

.content-area-cont>.tool-bar-new {
    background-color: rgb(120, 120, 120);
    margin-top: -20px;
    padding-top: 10px;
    margin-bottom: 30px;
}

ul.token-input-list-facebook{
    width: 475px;
}

#inp_searchAsset{border-top-left-radius: 4px;border-bottom-left-radius: 4px;}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.load-seperator{margin-right: 20px;}
.policy-group-edit-button,.policy-group-delete-button,.delete_resource{cursor: pointer}
.wr-section > h2 {cursor: pointer;}


/* Application Overview */
.app-overview-tabs > .nav-tabs > li.active > a, .app-overview-tabs > .nav-tabs > li.active > a:hover,
.app-overview-tabs > .nav-tabs > li.active > a:focus{
    background: #fff;
}

.app-overview-tabs >.tab-content{
    background: none repeat scroll 0 0 #fff;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: -2px;
    padding: 15px;
    border: 1px solid #DDDDDD;
}

.app-overview-tabs >.tab-content div.row{border-bottom: none;}
.truncated-para {text-align: justify;}
.app-overview-inner{border: 1px solid #DDDDDD;}
.app-overview-inner > .tab-pane{min-height: 150px}
.app-overview-inner{margin-bottom: 0px}
.asset-tab-content{background: none !important;}
#addDoc{height: 70px}
ul.dropdown-menu.notifications {
    width: auto;
}
.dropdown-menu>li>a{
    max-width: 736px;
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis;
}

textarea#overview_description {
    padding: 7px;
}
#commentText{resize: none}

.toolTip {
background-color:red;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: left;
}
#tooltipTable{
   padding: 0;
   margin-top:10px;
   border-left: 1px solid #dbdbdb;
   border-top: 1px solid #dbdbdb;
}

#tooltipTable th {
      font: 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
      color: #666;
      border-right: 1px solid #dbdbdb;
      border-bottom: 1px solid #dbdbdb;
      border-top: 1px solid #dbdbdb;
      letter-spacing: 2px;
      text-align: left;
      padding: 2px 2px 2px 4px;
      background: #eee;
}

#tooltipTable td {
      border-right: 1px solid #dbdbdb;
      border-bottom: 1px solid #dbdbdb;
      background: #fff;
      padding: 2px 2px 2px 4px;
      color: #4f6b72;
      text-align: left;
}

.dimple-bubble{
   cursor:pointer;
}

.alert-dismissable .close, .alert-dismissible .close {
    color: #000;
    opacity: 0.6;
    right:-5px;
}

.alert-dismissable .close, .alert-dismissible .close:hover {
    opacity: 0.8;
}

.app-default-thumbnail {
    color: white;
    font-size: 10em;
    text-align: center;
    min-height: 210px;
}

.checkbox-div {
    margin: 10px 0;
}
